<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if DESCRIPTION %}<meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">{% endif %}
        {% if KEYWORDS %}<meta name="keywords" content="{{ KEYWORDS }}">{% endif %}

        <title>{% block title %}{{ SITENAME }} - {{ SITESUBTITLE }}{% endblock %}</title>

        <!--
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        -->

        <!-- FancyBox -->

        <!-- FavIcon --> 

        <link rel="icon" type="image/jpg" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icon_small.jpg">

        <!-- Add jQuery library -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <!-- Font Awesome --> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <!-- Add fancyBox -->
        <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

        <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                    $(".fancybox").fancybox();
            });
        </script>

        <!-- End Fancy Box -->

        <!-- Bootstrap --> 
        <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR}}/css/ext.css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- End Bootstrap --> 


        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
</head>

<body>
{% include 'github.html' %}
     <a name="top"></a>
     <div class="container">
         <div class="row">
           <p></p>
         </div>

         <div class="panel panel-default"> 
           <div class="panel-body">
            <table class="table" style="border: 0; margin-bottom: 0">
              <tr> 
               <td style="vertical-align: middle; border: 0; padding: 0"><h1>{{ SITENAME }} {% if SITESUBTITLE %} <small>{{ SITESUBTITLE }}</small>{% endif %}</h1></td>
               <td style="vertical-align: bottom; text-align:right; border: 0; padding: 0"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/outline.jpg"></td>
              </tr>
            </table>
           </div>
          </div>

         <div class="row">

           <!-- Menu -->
           <div class="col-sm-3 col-md-3 sidebar">

             <!-- Main Menu --> 
             <div class="panel panel-default"> 
               <div class="panel-heading">
                <b>Main</b>
               </div> 
               <div class="panel-body">
                      {% for title, link in MENU_MAIN %}
                      <p><a href="{{ link }}" alt="{{ title }}">{{ title }}</a></p>
                      {% endfor %}
               </div>
             </div>

             <!-- Build Menu --> 
             <div class="panel panel-default"> 
               <div class="panel-heading">
                <b>The Project</b>
               </div> 
               <div class="panel-body">
                      {% for cat, null in categories %}
                        {% if not cat in MENU_SKIP_CATEGORIES %}
                        <p><a href="{{ SITEURL }}/{{ cat.url }}" alt="{{ cat }}">{{ cat | capitalize }}</a></p>
                        {% endif %} 
                      {% endfor %}
                      {% if TOTALS_TOTAL %}
                        <hr class="dashed">
                        <p><a href="{{ SITEURL}}/buildlog.html" alt="Build Log">Build Log</a></p>
                      {% endif %}
                 </p>
               </div>
             </div>

             <!-- Tags --> 
             {% if MENU_INCLUDE_TAGS -%}
             <div class="panel panel-default"> 
               <div class="panel-heading">
                <b>Tagcloud</b>
               </div> 
               <div class="panel-body">
                 <p>
                 {%- for tag, articles in tags|sort %}
                 <a class="btn btn-primary btn-xs" style="margin-top: 3px" href="{{ SITEURL }}/{{ tag.url }}" alt="{{tag}}">{{ tag }}({{ articles|length() }})</a> 
                 {% endfor %}
                 </p>
               </div>
             </div>
             {% endif %}

             {% if MENU_INCLUDE_RESOURCES %}
             <div class="panel panel-default"> 
               <div class="panel-heading">
                <b>Resources</b>
               </div> 
               <div class="panel-body">
                <!--                 <ul class="nav nav-sidebar"> -->
                    {% for title, link in MENU_RESOURCES %}
                      {% if title == "separator" %}
                        <hr class="dashed">
                      {% else %} 
                        <p><a href="{{ link }}">{{ title }}</a></p>
                      {% endif %} 
                   {% endfor %}
               </div>
             </div>
             {% endif %}

             {% if MENU_INCLUDE_LINKS %}
             <div class="panel panel-default"> 
               <div class="panel-heading">
                <b>Links</b>
               </div> 
               <div class="panel-body">
                <!--                 <ul class="nav nav-sidebar"> -->
                    {% for title, link in MENU_LINKS %}
                      {% if title == "separator" %}
                        <hr class="dashed">
                      {% else %} 
                        <p><a href="{{ link }}" target="_blank">{{ title }}</a></p>
                      {% endif %} 
                   {% endfor %}
               </div>
             </div>
             {% endif %}

          </div>

          <div class="col-sm-9 col-md-9 main">
           <!--
            <div class="panel panel-default"> 
              <div class="panel-body">  -->
                {% block content %}
                {% endblock %}
                <!-- </div> -->
                <!--</div> -->
          </div>
       </div>

       <div class="row">
         <div class="col-md-12">
          <hr>
         </div>
       </div>

      <div class="row">
         <div class="col-md-4">
          <small>Powered by <a href="/build/blog-b-log/">B-Log</a>, which is based on <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>, heavily plugged and themed.</small>
         </div>
         <div class="col-md-4">
            {% set date_start = dates[-1].date.year if dates else None %}
            {% set date_end   = dates[0].date.year if dates else None %}
            <p><small>&copy; Copyright {{ date_start if date_start }}{{ '-%s' % date_end if date_end and date_end != date_start }} "{{ SITENAME }}". All rights reserved.</p>
         </div>
         <div class="col-md-4">
           <p>
           This construction log only shows how I did things during the construction of my Skybolt. These pages are for information and personal entertainment
           only and not to be construed as the only way, or even the perceived correct way of doing things.  You are responsible for your own construction techniques.
           </p>
         </div>

      </div>

   </div>

{% include 'analytics.html' %}
{% include 'piwik.html' %}
{% include 'disqus_script.html' %}
</body>
</html>
