{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
{% block content_title %}<div class="panel-heading"><strong>In "{{ category }}":</div></strong>{% endblock %}
