{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{B_LOG_PROJECT_TITLE}} Log{% endblock %}
{% block content %}
     <div class="panel panel-default">
        <div class="panel-heading">
         <strong>Project "{{B_LOG_PROJECT_TITLE}}" total time logged: {{"%.2f" | format(logs.total)}} hours</strong>
        </div>
        <div class="panel-body">
           <table class="table table-condensed"> 
             <tbody>
                 {% for category, total in logs.by_category | dictsort %}
                  <tr>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ category }}</td>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ "%.2f" | format(total) }} hours</td>
                  </tr>
                 {% endfor %}
             </tbody>
           </table>
         </div>
     </div>

     <div class="panel panel-default">
        <div class="panel-heading">
         <strong>Log entries:</strong>
        </div>
        <div class="panel-body">
           <table class="table table-condensed"> 
             <tbody>
                 {% for entry in logs.entries %}
                  <tr>
{#
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ entry.date.strftime("%Y-%m-%d") }}</td>
#}
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ entry.date.strftime(B_LOG_DATE_FORMAT) }}</td>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">
                     {% if entry.article %}
                        <a href="{{ SITEURL}}/{{ entry.article.url }}">{{ entry.summary }}</a>
                     {% else %}
                        {{ entry.summary }} 
                     {% endif %}
                   </td>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ "%.2f" | format(entry.logged) }} hours</td>
                  </tr>
                 {% endfor %}
             </tbody>
           </table>
         </div>
     </div>


     {#

     {% for entry in  TOTALS_BY_LOGTYPE %}
        <div class="panel panel-default">
         <div class="panel-heading">
           <strong>In [{{ entry.Category }}], {{ entry.Total }} hours, {{ entry.Count }} entries</strong>
         </div>
         <div class="panel-body">
           <table class="table table-condensed"> 
             <tbody>
                 {% for article in entry.Articles %}
                  <tr>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ article.locale_date }}</td>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc"><a href="{{ SITEURL}}/{{ article.url }}">{{ article.summary | replace("<p class=\"first last\">", "") | replace("</p>", "") }}</a></td>
                   <td style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc">{{ article.logged }} hours</td>
                  </tr>
                 {% endfor %}
             </tbody>
           </table>
           <a class="btn btn-default btn-small" href="#top">Up &#x2191;</a>
         </div>
        </div>
   {% endfor %}
   #}

{% endblock %}
